### Name: Veerappan Saravanan

In [1]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/site-packages
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil>=2->pandas)
You are using pip version 9.0.1, however version 9.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
print("ABC\t".strip())
print("  ABC\t".lstrip())
print("  ABC\t".rstrip())
print("ABC".strip("C"))

s = "abc\xFF"
print (s)
s.encode().decode("ascii", "ignore")

ABC
ABC
  ABC
AB
abc√ø

'abc'

In [3]:
import dateutil.parser as p
p.parse("August 13, 1985")
p.parse("2013-8-13")
p.parse("8-12-1993 4:15:09pm")

datetime.datetime(1993, 8, 12, 16, 15, 9)

In [4]:
def get_first_last_name(s):
    INVALID_NAME_PARTS = ["mr", "ms", "mrs",
        "dr", "jr", "sir"]
    parts = s.lower().replace(".","").strip().split()
    parts = [p for p in parts
        if p not in INVALID_NAME_PARTS]
    if len(parts)==0:
        raise ValueError(
             "Name %s is formatted wrong" % s)
    first, last = parts[0], parts[-1]
    first = first[0].upper() + first[1:]
    last = last[0].upper() + last[1:]
    return first, last
def format_age(s):
    chars = list(s) # list of characters
    digit_chars = [c for c in chars if c.isdigit()]
    return int("".join(digit_chars))
def format_date(s):
    MONTH_MAP = {
         "jan": "01", "feb": "02", "may": "03"}
    s = s.strip().lower().replace(",", "")
    m, d, y = s.split()
    if len(y) == 2: y = "19" + y
    if len(d) == 1: d = "0" + d
    return y + "-" + MONTH_MAP[m[:3]] + "-" + d

import pandas as pd
df = pd.read_csv("test.csv", sep="|")
df["First Name"] = df["Name"].apply(
    lambda s: get_first_last_name(s)[0])
df["Last Name"] = df["Name"].apply(
    lambda s: get_first_last_name(s)[1])
df["Age"] = df["Age"].apply(format_age)
df["Birthdate"] = df["Birthdate"].apply(
    format_date).astype(pd.datetime)
print (df)

                Name  Age   Birthdate First Name Last Name
0  Ms. Janice Joplin   65  1943-01-19     Janice    Joplin
1         Bob Dylan    74  1941-03-24        Bob     Dylan
2     Billy Ray Joel   66  1941-02-09      Billy      Joel

In [19]:
import re
# This matches "1600 Pennsylvania Ave."
# It does NOT match "5 Stony Brook St"
# cuz there is a space in "Stony Brook"
street_pattern = r'^[0-9]\s[A-Z][a-z]*' + \
    r'(Street|St|Rd|Road|Ave|Avenue|Blvd|Way|Wy)\.?$'
# Like the one above, this assumes
# there is no space in the town name
city_pattern = r'^[A-Z][a-z]*,\s[A-Z]{2},[0-9]{5}$'
address_pattern = street_pattern + r"\n" \
    + city_pattern
# Compile the string into a regular expression object
address_re = re.compile(address_pattern)
text = open("regex.txt", "r").read()
matches = re.findall(address_re, text)
# list of all strings that match

print("\n\n".join(matches))